<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Recebe</servlet-name>
        <servlet-class>Classes.Recebe</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Inclui_veiculo</servlet-name>
        <servlet-class>Classes.Inclui_veiculo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>PesquisaNumero</servlet-name>
        <servlet-class>Classes.PesquisaNumero</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Recebe</servlet-name>
        <url-pattern>/Recebe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Inclui_veiculo</servlet-name>
        <url-pattern>/Inclui_veiculo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>PesquisaNumero</servlet-name>
        <url-pattern>/PesquisaNumero</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
